<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <servlet>
    <servlet-name>showParameter</servlet-name>
    <servlet-class>com.myweb.showParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showParameter</servlet-name>
    <url-pattern>/showParameter</url-pattern>
  </servlet-mapping>
</web-app>
